# This is a rules file for Linux's udev.  When a serial device is plugged in,
# it will allow users to access the device.
#
# Put this file in /etc/udev/rules.d/

# Position2Go Radar
ATTRS{idVendor}=="058b" ATTRS{idProduct}=="0058", ENV{ID_MM_DEVICE_IGNORE}="1", ENV{ID_MM_PORT_IGNORE}="1"
KERNEL=="ttyACM*", ATTRS{idVendor}=="058b", ATTRS{idProduct}=="0058", MODE="0666"